{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./pages"],
        "alias": {
          "@pages": "./pages",
          "@ui": "./ui",
          "@src": "./.next/production-server"
        },
        "extensions": [".ts", ".tsx"]
      }
    ]
  ]
}
